{% extends "blog/base.html" %}
{% block content %}
    <h1 style="text-align: center">Welcome to My Django Blog!</h1>
    <div class="about-content">
        <p>First of all, I did not create this app! It was a series of "Python Django Tutorial" posted by Corey Schafer on Youtube. (Thank you Corey Schafer for the amazing tutorials)! Although I did not come up with this Django web app myself, I did learn many things about Django along with a lot other important things in terms of web dev. </p>
        <p>Enough of that, let me introduce you what this blog app allows users to do:
            <ol>
                <li>Clicking a user's name (which is right next to the profile picture) shows you all posts made by the targeted user.</li>
                <li>Clicking on a post shows you the details of that post. (Currently, there is not really any details yet. But I will be adding commenting functionality later)!</li>
                <li>If you are a registed user, you can create/update/delete posts, and update/delete your profile.</li>
                <li>Last but not least, there is pagination at the bottom of the home page.</li>
            </ol>
        </p>
        <p>That is it for the features of this blog app. Due to limited time at the moment, I'm not able to add additional features to this awesome blog app just yet; but I will be adding a couple more functionalities into it in the future! Stay tuned!</p>
        <p>(BTW, feel free to post stuff, but FYI I'm the superuser :) which means if there is any inappropriate posts, I have the ability to take it down! Enjoy!!!)</p>
    </div>
{% endblock content %}